<section id="footer" class="container-fluid">
    <footer>
        <div>
            <p>Alicia Marcela MOLINA | © Argentina Programa 2022 | #YoProgramo </p>
            <p>Córdoba, Argentina</p>
        </div>
        <div class="social">
            <a href="http://"> <img src="../../../assets/images/linkedin.png" alt="Logo y link de LinkedIn"></a>
            <a href="http://"> <img src="../../../assets/images/github.png" alt="Logo y link de GitHub"></a>
            <a href=""> <img src="../../../assets/images/duolingo.png" alt="Logo y link de Duolingo"></a>
            <a href="http://"> <img src="../../../assets/images/twitter.png" alt="Logo y link de Twitter"></a>
            <a href="http://"> <img src="../../../assets/images/facebook.png" alt="Logo y link de Facebook"></a>
            <a href="#"> <img src="../../../assets/images/inicio.png" alt="Volver al Inicio">
            </a>
        </div>
    </footer>
</section>