<nav class="navbar">
    <div class="container-fluid">
        <div class="logoargprog">
            <img id="logoargprog" src="../../../assets/images/APLogo.png"
                alt="Logo Argentina Programa edición #YoProgramo.">
        </div>

        <div class="social">
            <a href="http://www.linkedin.com"> <img src="../../../assets/images/linkedin.png"
                    alt="Logo y link de LinkedIn"></a>
            <a href="http://github.com/AliciaMol"> <img src="../../../assets/images/github.png"
                    alt="Logo y link de GitHub"></a>
            <a href=""> <img src="../../../assets/images/duolingo.png" alt="Logo y link de Duolingo"></a>
            <a href="http://"> <img src="../../../assets/images/twitter.png" alt="Logo y link de Twitter"></a>
            <a href="http://"> <img src="../../../assets/images/facebook.png" alt="Logo y link de Facebook"></a>

        </div>
        <div>
            <button type="button" class="btn btn-outline-light">LogIn</button>
            <!-- (click)="login()" -->
        </div>
    </div>

</nav>
<div>
    <div class="container-fluid access">
        <ul class="direct">
            <li class="nav"><a class="nav-link" href="#aboutmesection">SOBRE MI</a></li>
            <li class="nav"><a class="nav-link" href="#works">EXPERIENCIA</a></li>
            <li class="nav"><a class="nav-link" href="#education">ESTUDIOS</a></li>
            <li class="nav"><a class="nav-link" href="#skills">H&S SKILLS</a></li>
            <li class="nav"><a class="nav-link" href="#projects">PROYECTOS</a></li>
        </ul>
    </div>
    <div class="row">
        <!-- <app-headerbarnav></app-headerbarnav> -->
        <!-- <app-headerbanner></app-headerbanner> -->
        <div>
            <img class="img-banner" src="../../../assets/images/—Pngtree—computer programming_5399562.png"
                alt="Foto de —Pngtree—computer programming_5399562.">
        </div>
    </div>

</div>