<section id="education" class="container-fluid">

    <div class="row">
        <h1>EDUCACIÓN</h1>
        <div class="study">
            <h2>ESTUDIOS UNIVERSITARIOS</h2>
        </div>
        <div class="col-lg-12">
            <ul>
                <li class="col-12 card mb-3">
                    <div class="row g-0">
                        <div class="col-sm-3 d-flex align-items-center">
                            <div class="edu-img"><img src={{education.imageURL}} alt="Logo de la {{education.houseOfStudies}}"
                                    class="img-fluid"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="card-body">

                                <h2 class="card-title display-6 text-center">Título: {{education.title}}</h2>
                                <p class="card-text fs-4">Carrera: {{education.career}}. {{education.faculty}} - {{education.houseOfStudies}}</p>
                                <div class="col-sm">
                                    <p class="fs-4"><span class="fw-bolder">Período: </span>{{education.startDate}} - {{education.endingDate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-12 card mb-3">
                    <div class="row g-0">
                        <div class="col-sm-3 d-flex align-items-center">
                            <div class="edu-img"><img src="../../../assets/images/unc3_c.jpg" alt="Logo de la UNIVERSIDAD NACIONAL DE CORDOBA"
                                    class="img-fluid"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="card-body">

                                <h2 class="card-title display-6 text-center">Título: Bachiller en Ciencias Aplicadas</h2>
                                <p class="card-text fs-4">Carrera: Ingeniería en Computación. Facultad de Ciencias Exactas, Físicas y Naturales - UNIVERSIDAD NACIONAL DE CORDOBA</p>
                                <div class="col-sm">
                                    <p class="fs-4"><span class="fw-bolder">Período: </span>2002-2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="study">
            <h2>ESTUDIOS SECUNDARIOS</h2>
        </div>
        <div class="col-lg-12">
            <ul>
                <li class="col-12 card mb-3">
                    <div class="row g-0">
                        <div class="col-sm-3 d-flex align-items-center">
                            <div class="edu-img"><img src="../../../assets/images/grupal.png" alt="Logo Instituto P. San Alfonso."
                                    class="img-fluid"></div>
                        </div>
                        <div class="col-sm-9">
                            <div class="card-body">

                                <h2 class="card-title display-6 text-center">Título: Bachiller Mercantil</h2>
                                <p class="card-text fs-4">Instituto P. "San Alfonso." Nº 8088 - Salta Capital</p>
                                <div class="col-sm">
                                    <p class="fs-4"><span class="fw-bolder">Período: </span>1997-2001</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="study">
            <h2>CURSOS Y DIPLOMATURAS</h2>
        </div>
        <div class="col-lg-12">
            <ul>
                <li class="cursos">
                    <h2>PROGRAMACIÓN DE APLICACIONES ANDROID CON APP INVENTOR 2</h2> - <h3>En curso</h3>
                    <p>Universidad Tecnológica Nacional - FACULTAD REGIONAL TUCUMÁN</p>
                </li>
                <li class="cursos">
                    <h2>DIPLOMATURA EN INTRODUCCIÓN A LA PROGRAMACIÓN EN JAVA</h2> - <h3>2022</h3>
                    <p>Universidad Tecnológica Nacional - Facultad Regional Villa María</p>
                </li>
                <li class="cursos">
                    <h2>CURSO DE OFIMÁTICA</h2> - <h3>2015</h3>
                    <p>Secretaría de Extensión y Bienestar Estudiantil del Instituto Universitario Aeronáutico</p>
                </li>
                <li class="cursos">
                    <h2>CCNA EXPLORATION 2: ROUTING PROTOCOLS AND CONCEPTS</h2> - <h3>2010</h3>
                    <p>Academia Regional y Local de Cisco en la FCEFyN UNC. Cursado completo, examen final pendiente.
                    </p>
                </li>
                <li class="cursos">
                    <h2>CCNA EXPLORATION 1: NETWORK FUNDAMENTALS</h2> - <h3>2009</h3>
                    <p>Academia Regional y Local de Cisco en la FCEFyN UNC</p>
                </li>
                <li class="cursos">
                    <h2>CURSO DE CAPACITACIÓN EN NETWORKING</h2> - <h3>2006</h3>
                    <p>Universidad Tecnológica Nacional Facultad Regional Córdoba</p>
                </li>
            </ul>
        </div>
    </div>
</section>