<section id="skills" class="container-fluid">
    <div class="row g-0">
        <div class="row">
            <h1>SKILLS HARD</h1>
        </div>
        <div class="col-sm-3 d-flex text-center align-items-center" >
            <circle-progress 
                [percent]="45" 
                [title]="'HTML'"
                [imageSrc]="'../assets/images/html.png'"
                [showImage]="true"
                [outerStrokeColor]="'#ea3d63'"
                [innerStrokeColor]="'#993688'"
                [backgroundColor]="'#5330a9'"></circle-progress>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
            <circle-progress 
                [percent]="40"
                [title]="'CSS'"
                [imageSrc]="'../assets/images/css.png'"
                [showImage]="true"
                [outerStrokeColor]="'#993688'"
                [innerStrokeColor]="'#5330a9'"
                [backgroundColor]="'#ea3d63'"></circle-progress>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
            <circle-progress 
                [percent]="25" 
                [title]="'JS'"
                [imageSrc]="'../assets/images/js.png'"
                [showImage]="true"
                [outerStrokeColor]="'#5330a9'"
                [innerStrokeColor]="'#ea3d63'"
                [backgroundColor]="'#993688'"></circle-progress>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
            <circle-progress 
                [percent]="40" 
                [title]="'C'"
                [imageSrc]="'../assets/images/c.png'"
                [showImage]="true"
                [outerStrokeColor]="'#ea3d63'"
                [innerStrokeColor]="'#993688'"
                [backgroundColor]="'#5330a9'"></circle-progress>
        </div>
    </div>

    <div class="row g-0">
        <div class="row">
            <h1>SKILLS SOFT</h1>
        </div>
        <div class="col-sm-3 d-flex text-center align-items-center" >
            <circle-progress 
                [percent]="100" 
                [title]="'Expresión'"
                [showImage]="false"
                [outerStrokeColor]="'#5330a9'"
                [innerStrokeColor]="'#ea3d63'"
                [backgroundColor]="'#993688'"></circle-progress>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
            <circle-progress 
                [percent]="100"
                [title]="'Comprensión'"
                [showImage]="false"
                [outerStrokeColor]="'#ea3d63'"
                [innerStrokeColor]="'#993688'"
                [backgroundColor]="'#5330a9'"></circle-progress>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
            <circle-progress 
                [percent]="100" 
                [title]="'Colaboración'"
                [showImage]="false"
                [outerStrokeColor]="'#993688'"
                [innerStrokeColor]="'#5330a9'"
                [backgroundColor]="'#ea3d63'"></circle-progress>
        </div>
        <div class="col-sm-3 d-flex align-items-center">
            <circle-progress 
                [percent]="100" 
                [title]="'Proactividad'"
                [showImage]="false"
                [outerStrokeColor]="'#5330a9'"
                [innerStrokeColor]="'#ea3d63'"
                [backgroundColor]="'#993688'"></circle-progress>
        </div>
    </div>
</section>