<section id="skills" class="container-fluid">
    <div>
        <div class="row">
            <h1>HABILIDADES</h1>
        </div>

        <div class="row g-0">
            <div class="col-sm-3 d-flex text-center align-items-center" *ngFor="let oneskill of skills">
                <circle-progress [percent]=oneskill.percent [title]="oneskill.title" [imageSrc]="oneskill.image_src"
                    [showImage]="oneskill.show_image" [outerStrokeColor]="oneskill.outer_stroke_color"
                    [innerStrokeColor]="oneskill.inner_stroke_color" [backgroundColor]="oneskill.background_color">
                    <!--  -->
                </circle-progress>
            </div>
        </div>
    </div>
</section>

<!-- percent ;
    title;
    image_src;
    show_image;
    outer_stroke_color;
    inner_stroke_color;
    background_color;
    (40,"CSS","../assets/images/css.png",true,"#993688","#5330a9","#ea3d63")
    (25,"JS","../assets/images/js.png",true,"#5330a9","#ea3d63","#993688")
    (40,"C","../assets/images/c.png",true,"#ea3d63","#993688","#5330a9")

    100,"Comprensión",false,"#ea3d63","#993688","#5330a9"
    100,"Colaboración",false,"#993688","#5330a9","#ea3d63"
    100,"Proactividad",false,"#5330a9","#ea3d63","#993688"
        -->
<!-- <div class="row g-0">
        <div class="row">
            <h1>SKILLS HARD</h1>
        </div>
        <div class="col-sm-3 d-flex text-center align-items-center" *ngFor="let oneskill of skills">
            <ng-template [ngIf]="!oneskill.type_skill">
                <circle-progress [percent]=oneskill.percent [title]="oneskill.title" [imageSrc]="oneskill.image_src"
                        [showImage]="oneskill.show_image" [outerStrokeColor]="oneskill.outer_stroke_color"
                            [innerStrokeColor]="oneskill.inner_stroke_color" [backgroundColor]="oneskill.background_color">
                </circle-progress>
            </ng-template>
        </div>
    </div> -->