<section id="works" class="container-fluid">
    <div class="row">
        <h1>EXPERIENCIA LABORAL</h1>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h2>Jefa de Sección Documentación Técnica - Div. Personal AIT Dpto RRHH del Centro Regional
                        Universitario Córdoba - IUA</h2> - <h3>Periodo: 11/2014 - 09/2019</h3>
                    <p>Las tareas desarrolladas eran relativas a la planta del personal docente contratada por dicha
                        Asociación para desarrollar tareas en el Instituto: Carga, control y actualización de Base
                        de
                        Datos de la planta del personal docente; Cálculo yactualización de antigüedad docente;
                        colaboración con control de Nombramientos Docentes; Confección y Administración de
                        Certificados
                        de trabajo, servicios comunes o docente,
                        constancias, antigüedad; Gestión, coordinación y organización de Selección Docente; Gestión
                        de
                        Alta de Docente; Recepción, coordinación, gestión y control de: renuncias, licencias sin y
                        con
                        goce de haberes, control de ausentismo, carpetas médicas, informe de novedades de sueldos,
                        jubilación, tramitación y registro de siniestro por ART, gestión y confección de sanciones,
                        etc.
                    </p>
                </li>
                <li>
                    <h2>Jefa de Sección Documentación Técnica </h2> - <h3>Periodo: 11/2014 - 09/2019</h3>
                    <p>Las tareas desarrolladas eran relativas a la planta del personal docente contratada por dicha
                        Asociación para desarrollar tareas en el Instituto:
                        Carga, control y actualización de Base de Datos de la planta del personal docente; Cálculo y
                        actualización de antigüedad docente; colaboración con control de Nombramientos Docentes;
                        Confección y Administración de Certificados de trabajo, servicios comunes o docente.
                    </p>
                </li>
            </ul>
        </div>

    </div>
</section>