.row {
    margin-top: 0.5rem;
    padding: 2rem;
    border: 0.5rem dotted #993688;
}

h2,
h3 {
    display: inline;
    text-align: justify;
}

ul {
    list-style-type: none;
    /* no default bullets */
}

ul li:before {
    content: "";
    background-color: #993688;
    border-radius: 50%;
    display: inline-block;
    margin-left: -1.6em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    height: .5em;
    width: .5em;
}
p{
    text-align: justify;
}

/* ul {
    list-style: none; 
  } */

/* li:before { 
    content: "";
    background-color: #993688;;
    border-radius: 50%;
    float: left;
    margin: 1.1em 1em 100%;
    height: .5em;
    width: .5em;
} */

/*Colores rosa #dd3c69 #ea3d63 #e93d63 
          azul #512ea9 #5330a9 #502fa8; 
          lila #9e3685 #993688 #953588*/